body{
    background: url(universe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    font-style: oblique;
    border-style: dotted;
    border-color: aliceblue;
    border-radius: 10em;
    color:skyblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: wheat;
}








































































































































































































































